* {
  box-sizing: border-box;
}

body {
  font-size: 26px;
}

h1 {
	text-align: center;
}

#equals    {
	background-color: dodgerblue;
}

#minus{ 
	background-color: dodgerblue;

} 

#plus{
	background-color: dodgerblue;

}

#times {
	background-color: dodgerblue;

}

#decimal {
	background-color: dodgerblue;

}

#division {
	background-color: dodgerblue;

}

#percent {
	background-color: dodgerblue;

}

#squared {
	background-color: dodgerblue;


}

#squared:hover{
	background-color: blue;
	color: white;

}

#percent:hover{
	background-color: blue;
	color: white;

} 

#division:hover{
	background-color: blue;
	color: white;

} 

#decimal:hover{
	background-color: blue;
	color: white;

} 

#times:hover{
	background-color: blue;
	color: white;

}

#plus:hover{
	background-color: blue;
	color: white;

}

#minus:hover{
	background-color: blue;
	color: white;

}

#equals:hover{
	background-color: blue;
	color: white;

}

td {
	margin: 0 auto;
}


.buttons {
  background-color: gray;
  text-decoration: none;
  border: 1px solid #777;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
  height: 40px;
  display: block;
  text-align: center;
}

.buttons:hover {
	background-color: dimgray;
	color: white;

}

table {
  width: 600px;
  margin: 0 auto;
  text-align: right;
}


.window {
	background-color: white;
  	text-decoration: none;
  	border: 1px solid #777;
  	padding: 10px;
  	border-radius: 3px;
  	height: 40px;
  	width: 600px;
  	display: block;
  	text-align: center;
  	margin: 0 auto;

}

table .clear {
	width: 200px;
  	display: block;
  	text-align: center;

}

.clear {
	background-color: black;
	color: white;
  	text-decoration: none;
  	border: 1px solid #777;
  	padding: 10px;
  	border-radius: 3px;
  	height: 40px;
}

.clear:hover{
	background-color: gray;

}



